<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>show</title>
</head>
<body>
    <h1>Comment id is :# <%= comment.id %></h1>
    <h2><%= comment.comments%> - <%= comment.username %></h2>
    <a href="http://localhost:3000/comments">Back to index</a>
    <a href="http://localhost:3000/comments/<%= comment.id %>/edit">Edit</a>
    <form method="post" action="/comments/<%comment.id%>?_method=DELETE">
        <button>Delete</button>
    </form>
</body>
</html>